/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*

font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/
body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  font-size: 16px;
  color: #fff;
}

.bodyscroll--hidden {
  overflow-y: hidden;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
.container--sm {
  max-width: 924px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #D4C17F;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.map {
  height: 100%;
}

.header {
  padding: 30px 0px 74px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url("./../../../assets/img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("./../../../assets/img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--row--mobile {
  position: fixed;
  background-color: #242B33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}
.header__top--row--mobile .header__nav {
  display: block;
}
.header__top--row--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.header__top--row--mobile .header__nav--btn {
  position: fixed;
  z-index: 11;
  right: 30px;
  top: 60px;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav--btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav--btn {
    display: block;
  }
}

.header__title {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  padding-bottom: 121px;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 34px;
    padding-bottom: 100px;
  }
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .header__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.info {
  position: relative;
  font-size: 18px;
  padding: 0px 0px 0px 35px;
}
.info::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url("./../../../assets/img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../../../assets/img/header/phone.svg");
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 14px;
  }
}

.benefits {
  padding: 120px 0px;
  position: relative;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  opacity: 0.02;
  position: absolute;
  top: 0;
  left: calc(50% + 600px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}
@media screen and (max-width: 959px) {
  .benefits__item-img {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.appartments {
  position: relative;
}
.appartments::before {
  content: "III";
  opacity: 0.02;
  position: absolute;
  top: 0;
  right: calc(50% + 555px);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.appartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .appartments__title {
    margin-bottom: 44px;
  }
}

.appartments__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .appartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  display: inline-block;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.card:hover {
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  z-index: 6;
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.7);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  z-index: 7;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  bottom: 44px;
  right: 20px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 25px;
    bottom: 24px;
  }
}

.cta {
  padding: 180px 0px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(36, 43, 51, 0.9)), color-stop(92.19%, #242B33)), url("./../../../assets/img/cta/bg.jpg"), lightgray 50%/cover no-repeat;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(36, 43, 51, 0.9) 51.04%, #242B33 92.19%), url("./../../../assets/img/cta/bg.jpg"), lightgray 50%/cover no-repeat;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0px;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form__input::placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  line-height: 1.23;
  text-align: center;
}
@media screen and (max-width: 959px) {
  .form__privacy--bottom {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.form__button {
  height: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  font-style: normal;
  background-color: #D4C17F;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.form__button:hover {
  background-color: #ddc676;
}

.video {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.video::after {
  content: "IV";
  opacity: 0.02;
  position: absolute;
  top: 0;
  left: calc(50% + 545px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.video__link {
  position: relative;
  display: inline-block;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    height: 80px;
    width: 80px;
  }
}

.video__link:hover .video__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.section-map {
  padding: 180px 0px;
  position: relative;
}
.section-map::before {
  content: "V";
  opacity: 0.02;
  position: absolute;
  top: 180px;
  right: calc(50% + 555px);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  z-index: -1;
  line-height: 1;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0px;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.section-map__map {
  height: 358px;
  background-color: #626262;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 60px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}

.feedback__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #2D343C;
  padding: 72px 0px 51px 0px;
}
@media screen and (max-width: 959px) {
  .footer {
    padding: 36px 0px 25px 0px;
  }
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px, 30px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.footer__nav--list li span {
  color: #D4C17F;
  cursor: pointer;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: unset;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}